@font-face {
  font-family: NotoSansHans-Black;
  src:url('./font/NotoSansHans-Black.otf')format('otf')
}
@font-face {
  font-family: NotoSansHans-Bold;
  src:url('./font/NotoSansHans-Bold.otf')format('otf')
}
@font-face {
  font-family: NotoSansHans-Medium;
  src:url('./font/NotoSansHans-Medium.otf')format('otf')
}
@font-face {
  font-family: NotoSansHans-DemiLight;
  src:url('./font/NotoSansHans-DemiLight.otf')format('otf')
}

::-webkit-scrollbar-track-piece{background-color:#fff;}
::-webkit-scrollbar{width:0px;height:0px;}
::-webkit-scrollbar-thumb{background:#999;}

.App {
  text-align: center;
  background-color: #333333;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#Topbar{
  position: fixed;
  top:0px;
  background-color: #4F4F4F;
  width:100%;
  height: 50px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 10px;
  z-index: 3;
}

#right{
  position: fixed;
  width: 45%;
  top:60px;
  left:55%;
}



@media screen and (max-height: 600px){
  #right-index{
    height: 370px;
  }
}

@media screen and (min-height:600px) and (max-height: 700px){
  #right-index{
    height: 470px;
  }
}

@media screen and (min-height:680px) and (max-height: 700px){
  #right-index{
    height: 520px;
  }
}

@media screen and (min-height:700px) and (max-height: 720px){
  #right-index{
    height: 570px;
  }
}

@media screen and (min-height:720px) and (max-height: 740px){
  #right-index{
    height: 590px;
  }
}

@media screen and (min-height:740px) and (max-height: 7600px){
  #right-index{
    height: 610px;
  }
}
.light-button{

  display: flex;
  align-items: center;
  width: 120px;
  height: 50px;
  padding-top: 15px;
  background: #F2F2F2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  font-family: NotoSansHans-Bold;
  font-size: 24px;
  text-align: center;
  color: #4F4F4F;
  margin-left: 5px;
  margin-right: 5px;
  justify-content: center;
}

.light-button-active{

  background: #F2C94C;
  box-shadow: 0px 0px 15px #F2C94C;


}
.wifi-choose-panel{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #E0E0E0;
  border-radius: 6px;
  padding-top:20px;
  padding-bottom: 20px;
}

.wifi-lable{
  font-family: NotoSansHans-Bold;
  margin-top: 0px;
  padding:10px;
  font-size: 24px;
  color: #4F4F4F;
  z-index: 1;
}


.wifi-status-bar-back{

  align-items: left;
  width: 90%;
  height: 40px;
  background: #4F4F4F;
  border-radius: 6px;
  z-index: 2;
}

.wifi-status-bar-front{
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: left;
  margin-top: 0px;
  height: 40px;
  border-radius: 6px;
  background-color: #27AE60;
  z-index: 3;
  overflow: hidden;
}

#chooseTitle{
  font-family: NotoSansHans-Medium;
  font-size: 18px;
  text-align: center;
  color: #F2F2F2;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

#chooseBox{
  display: flex;
  flex-direction: column;
  align-items: center;

  width:100%;
  height:70px;
  border: 3px solid #F2F2F2;
  background-color: #F2F2F2;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  overflow: auto;
  padding:10px;
}

button{
  margin-top: 20px;
  background: #219653;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  font-family: NotoSansHans-Bold;
  color: #F2F2F2;
  font-size:18px;
  border: 0px;
  outline:none;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

select{
  height: 40px;
  background:#F2F2F2;
  border-radius:6px;
  font-family:NotoSansHans-Medium;
  font-size:18px;
  color:#4F4F4F ;
  outline:none;
  margin-left: 15px;
}

option{
  background:#F2F2F2;
  font-family:NotoSansHans-Medium;
  font-size:18px;
  color:#4F4F4F;
  outline:none;
}

select:focus{
  background:#27AE60;
  font-family:NotoSansHans-Medium;
  font-size:18px;
  color:#F2F2F2 ;
  outline:none;
}

option:hover{
  background:#27AE60;
  font-family:NotoSansHans-Medium;
  font-size:18px;
  color:#F2F2F2;
  outline:none;
}

.textbox{
  background-color: #F2F2F2;
  border-radius: 6px;
  border: 0px;
  font-family: NotoSansHans-Medium;
  color: #4F4F4F;
  display: flex;
  align-items: center;
  font-size: 18px;
  height: 40px;
  margin-left: 15px;
}

#set-fake-ap{
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #E0E0E0;
  border-radius: 6px;
  padding-top:20px;
  padding-bottom: 20px;
  overflow: hidden;
}



.set-fake-ap-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  width: 90%;
}

.set-fake-ap-item p{
  font-family: NotoSansHans-Black;
  font-size: 18px;
  padding: 0px;
  color: #4F4F4F;
}

#fake-ap-status{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#fake-ap-status span{


  font-family: NotoSansHans-Bold;

  font-size: 18px;

  color: #F2F2F2;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

#fake-ap-status .on{
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: NotoSansHans-Bold;
  margin-left: 10px;
  font-size: 12px;
  background: #F2C94C;
  box-shadow: 0px 0px 20px #F2C94C;
  border-radius: 6px;
  color: #333333;

  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  height: 25px;
  width: 80px;
}

#fake-ap-status .off{

  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: NotoSansHans-Bold;
  margin-left: 10px;
  font-size: 12px;
  background: #F2F2F2;

  border-radius: 6px;
  color: #333333;

  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  height: 25px;
  width: 80px;
}

#fake-ap-data{
  display: flex;

  width:95%;

  justify-content: center;
  align-items: center;
}

.fake-ap-data-border{
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  flex-grow: 1;
  margin: 10px;
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.25);
}

.fake-ap-data-border p{
  font-family: NotoSansHans-Medium;
  font-size: 18px;
  color: #F2F2F2;
  padding: 0px;
  margin: 0px;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.25);
}

.fake-ap-data-border .number{
  font-family: NotoSansHans-DemiLight;
  font-size: 48px;
  padding: 0px;
  margin: 0px;

}


#fetch-file-panel{
  background: #BDBDBD;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:95%;
}

#fetch-file-head{
  background: #219653;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

#fetch-file-head #button-group{

  background: #E0E0E0;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width:120px;
  height: 40px;
  margin-left: 15px;
}

.back-forward{
width:60px;
  height: 40px;
  display: flex;
  justify-content: center;
}

.back-forward:hover{
background-color:#6FCF97 ;
}



#fetch-file-box{
width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}
.file-item{

  background: #F2F2F2;

  border-radius: 6px;
  width: 95%;
  margin-top: 10px;
  margin-bottom: 5px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.file-item:hover{

  background-color: #219653;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}


.file-item span{
  font-family: NotoSansHans-Medium;
  font-size: 18px;
  color: #333333;
  padding-left: 15px;
  padding-right: 15px;
}

.inject{
  width:95%;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.target-panel{
  background: #C4C4C4;
  border-radius: 6px;
  width: 95%;
  display: flex;
  align-items: center;
  overflow: scroll;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.target-icon{
  background: #F2F2F2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  width:100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:10px;
  padding-left:5px;
  padding-right:5px;

}

.target-icon p{
  font-family: NotoSansHans-Bold;
  font-size:9px;
  color: #333333;
  margin:0px;
  padding: 0px;
}

#choose-target{

  font-family: NotoSansHans-Bold;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 12px;
  text-align: center;

  color: #F2F2F2;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.43);

}

.console{
  height:200px;
  width:95%;
  background: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  color: #00FF00;
  font-family: NotoSansHans-DemiLight;
  font-size: 12px;
  text-align: left;
  padding: 10px;

}